
{# src/OC/PlatformBundle/Resources/views/Annonce/soursrubirquebasket.html.twig #}


{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

  <h2>Rubrique Sport</h2>
  <h4>Sous rubrique basket </h4>
  
  <nav class="navbar navbar-default ">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a style="color: #428bca; border-left: 1px solid black;" href="{{ path('oc_platform_sousrubriquesportbasket') }}">Basket</a></li>
    <li><a style="color: #428bca; border-left: 1px solid black;" href="{{ path('oc_platform_sousrubriquesportfootball') }}">Football</a></li>
    <li><a style="color: #428bca; border-left: 1px solid black;" href="{{ path('oc_platform_sousrubriquesporttennis') }}">Tennis</a></li>
    </div>

<table class="table table-bordered table-striped">
<tr>
<th> </th>
<th> Titre </th>
<th> Date </th>
<th> Auteur </th>
</tr>

{% for annonce in annonces %}
<tr class="active">
<td "style="padding-right:0px"> {% if annonce.image is not null %}
      <img
        src="{{ asset(annonce.image.webPath) }}"
        alt="{{annonce.image.alt }}"
        height="60"
      />
    {% endif %} </td> 
<td> <a href="{{ path('oc_platform_view', {'id': annonce.id}) }}"> {{ annonce.title }} </a>
<br/> 
{% set text = annonce.content |split(' ') %} 

{% if text|length > 5 %} 
    {% for t in text|slice(0, 5) %}
        {{ t }} 
    {% endfor %}
    ...
{% else %}
    {{ text|join(' ') }}
{% endif %} </td>
<td> le {{ annonce.date|date('d/m/Y') }} </td> 
</td><td> {{annonce.user.username }} </td> 
    {% else %}
      <li>Vous n'avez encore rien publié</li>
    {% endfor %}
 
 </tr>
 </table>
 
 </nav>

{% endblock %}


